#header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	box-shadow: 0px 2px lightgrey;
	margin-top: -10px;
	margin-bottom: 50px;
}

#footer {
	text-align: right;
	font-style: italic;
	color: lightgrey;
	position: relative;
    bottom: 0px;
	width: 99%;
	height: 70px;
}

h1 {
	text-align: center;
}

.box {
	display: flex;
	border: 2px solid black;
}

.logo {
	margin-left: 10px;
}

.navbar {
	margin-right: 10px;
}

.list {
	list-style-type: none;
}

.list li a {
	color: black;
	text-decoration: none;
}

.list li a:hover {
	padding-bottom: 16px;
	box-shadow: 0px 2px red;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.button {
	width: 50%;
	text-align: center;
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	background: lightblue;
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	text-shadow: 2px 2px black;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin: 10 20 10 20;
	text-align: center;
}

.input {
	width: 60%;
	margin: 0 20 10 20;
	border: 2px solid black;
	border-radius: 5px;
}

/*
div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 180px;
}

div.gallery img {
	width: 100%;
	height: auto;
}

video {
	width: 90%;
	align-item: center;
	padding: 0 20 20 10;
}

.video {
	width: 90%;
	text-align: center;
}*/
