@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 2px lightgrey;
	margin-bottom: 50px;
}

#footer {
	text-align: right;
	font-style: italic;
	color: lightgrey;
	position: relative;
	bottom: 0px;
	width: 99%;
	height: 70px;
}

/*h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #2c3e50;
	margin: 50px 0;
	text-align: center;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	background-color: #fff;
	font:normal 16px/1.5 sans-serif;
	color: #333;
}

.setting_form {
	display: flex;
	text-align: center;
	justify-content: center;
}

.box{
	display: flex;
	justify-content: space-around;
}

.setting_form form, .log_form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	text-align: center;
	width: 100%;
}

.setting_form div {
	padding: 20px 20px 20px 20px;
}

.logo {
	margin-left: 10px;
}

.logo a {
	text-decoration: none;
	color: black;
}

.navbar ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar li a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.navbar li a:hover {
	padding-bottom: 16px;
	box-shadow: 0px 2px red;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	justify-content: space-around;
	margin: auto;
}

.container {
	width: 90%;
	margin: 10 20 10 20;
	text-align: center;
}

input {
	width: 60%;
	margin: 0 20 10 20;
	border: 2px solid black;
	border-radius: 5px;
}

.app {
	position: relative;
}

.app #start-camera{
	display: none;
	border-radius: 3px;
	max-width: 400px;
	color: #fff;
	background-color: #448AFF;
	text-decoration: none;
	padding: 15px;
	opacity: 0.8;
	margin: 50px auto;
	text-align: center;
}

.app video#camera-stream{
	display: none;
	min-width: 600px;
	width: 100%;
}

.app img#snap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: none;
}

.app #error-message{
	width: 100%;
	background-color: #ccc;
	color: #9b9b9b;
	font-size: 28px;
	padding: 200px 100px;
	text-align: center;
	display: none;
}

.app .controls{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 30px;
	display: none;
}

.app .controls button{
	border-radius: 50%;
	color: #fff;
	background-color: #111;
	text-decoration: none;
	padding: 15px;
	line-height: 0;
	opacity: 0.7;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

.app .controls button:hover{
	opacity: 1;
}

.app .controls button.disabled{
	background-color: #555;
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

.app .controls button.disabled:hover{
	opacity: 0.5;
}

.app .controls button i{
	font-size: 18px;
}

.app .controls #take-photo i{
	font-size: 32px;
}

.app canvas{
	display: none;
}



.app video#camera-stream.visible,
.app img#snap.visible,
.app #error-message.visible
{
	display: block;
}

.app .controls.visible{
	display: flex;
}

@media(max-width: 1402px){
	.box{
		flex-direction: column;
		align-items: center;
	}
	.setting_form {
		display: flex;
		text-align: center;
		justify-content: center;
		flex-direction: column;
	}
	.app video#camera-stream{
		display: none;
		min-width: 300px;
		width: 100%;
	}
}

@media(max-width: 1349px){
	.gallery {
		width: 80%;
	}
}

@media(max-width: 1000px){
	.app #start-camera.visible{
		display: block;
	}

	.app .controls a i{
		font-size: 16px;
	}

	.app .controls #take-photo i{
		font-size: 24px;
	}
}


@media(max-width: 600px){
	.container{
		margin: 10px;
	}

	.app #error-message{
		padding: 80px 50px;
		font-size: 18px;
	}

	.app .controls a i{
		font-size: 12px;
	}

	.app .controls #take-photo i{
		font-size: 18px;
	}
}*/
